body{
    margin:0;
}

@mixin flex($value) {
   display: flex;
   justify-content: $value;
  }

main{
    @include flex(center);
  border: solid 1px purple;
  align-items: center;
  flex-direction: column;
 padding: 25px;
   article{
   height: 50vh;
   
   }
   button{
       width: 25vw;
   }
    }
